* {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(205, 172, 174);
}

#root {
  margin: 0 auto;
  margin-top: 2em;
  padding: 1rem;
  text-align: center;
}

.cards {
display: flex;
gap: 16px;
justify-content: space-evenly;
align-items: flex-start;
}

.card {
  padding: 0.5em;
  background-color: rgb(205, 172, 174);
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}